body {
  background-color: #000;

}
.container{
  height: 100%;
  width: 100%;
}

#box {
  float: left;
  height: 100px;
  width:100px;
  outline-width: medium;
  outline: 5px inherit black;
}

#box:mouseover {
  box-shadow: 0px 0px 10px #ffff;
  height: 300px;
  width: 300px;
}
