


@keyframes floatUp{
  0% {opacity: 0; transform: translateY(0px);}
  100% {opacity: 100; transform: translateY(-1200px);}
}

.bubbles {
  position: absolute;
}

.float {
  animation: floatUp 4s ease-out;
}
